:root {
    --main-color: white;
  }

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
}

.content{
    background-color: #282A23;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.info{
    display: flex;
    flex-direction: column;
    background-color: #1C1F1B;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
    width: 50%;
    border-radius: .5rem;
}

.totalCheck{
    display: flex;
    gap: 1rem;
}

.infoContainer{
    background-color: #363931;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.infoContainer h2 {
    color: var(--main-color);
}

.checkouts{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-height: fit-content;
}

.checkoutLabel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkoutLabel span{
    font-size: .8rem;
    background-color: #363931;
    padding: .4rem;
    border-radius: .5rem;
    font-weight: 700;
    color: var(--main-color);
}

.orderAmount{
    display: flex;
    gap: .5rem;

}

.searchBar{
    display: flex;
    align-items: center;
    background-color: #363931;
    padding: .5rem;
    border: var(--main-color) solid .1rem;
    border-radius: .5rem;
    gap: .25rem;
}

.searchBar input {
    border: none;
    outline: none;
    appearance: none;
    background-color: #363931;
    color: white;
}

.searchBar i{
    color: var(--main-color);
    font-size: .8rem;

}

.searchBar input:focus{
    outline: none;
}

.orders{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 36.25rem;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-right: .5rem;
}

.orders::-webkit-scrollbar{
    height: 100%;
    border-radius: .5rem;
    width: .4rem;
    background-color: #363931;
}

.orders::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: .5rem;
}

.order{
    display: flex;
    width: 100%;
    border: var(--main-color) solid .1rem;
    border-radius: .5rem;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #363931;
}

.order img{
    max-width: 4rem;
    border-radius: .5rem;
}

.order i{
    padding: .5rem;
    border-radius: .5rem;
    border: var(--main-color) solid .1rem;
    color: var(--main-color);
    transition: 0.2s;
}

.order i:hover{
    cursor: pointer;
    background-color: grey;
}

.sneakerInfo{
    display: flex;
    flex-direction: column;
}

.botInfo{
    display: flex;
    width: 100%;
    gap: .5rem;
}

.profile{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    border-radius: .5rem;
    background-color: #363931;
    width: 100%;
}

.updates{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: .5rem;
    width: 100%;
    background-color: #363931;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.updates button {
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: var(--main-color) solid .1rem;
    color: var(--main-color);
    transition: .2s;
}

.updates button:hover {
    background-color: gray;
    cursor: pointer;
}

.updates span{
    color: gray;
    font-size: .8rem;
}

.profile h2{
    color: var(--main-color);
}

.profile img{
    width: 5rem;
}

.keyContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.keyContainer i {
    color: var(--main-color);
    padding: .5rem;
    border: var(--main-color) solid .1rem;
    border-radius: .5rem;
    transition: .2s;
}

.keyContainer i:hover {
    background-color: gray;
    cursor: pointer;
}

#userKey{
    filter: blur(.4rem);
}

.webhook{
    background-color: #363931;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.webhook span {
    color: gray;
    font-size: .9rem;
}

.webhook .searchBar #webSuccess{
    color: #99d98c;
}

.webhook .searchBar #webFail{
    color: #ef233c;
}

.webhook .searchBar input{
    width: 100%;
}

.webhookContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.buttonTest{
    display: flex;
    justify-content: flex-end;
}

.buttonTest button {
    padding: .5rem;
    background-color: transparent;
    border: var(--main-color) solid .1rem;
    color: var(--main-color);
    border-radius: .5rem;
    font-weight: 700;
    transition: .2s;
}

.buttonTest button:hover{
    background-color: gray;
    cursor: pointer;
}

/* Tasks Style */

.tasksContainer{
    display: flex;
    flex-direction: column;
    background-color: #1C1F1B;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    border-radius: .5rem;
}

.taskHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #363931;
}

.taskHeadTitle{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.taskHeadActions{
    display: flex;
    padding: .5rem;
    gap: 2rem;
    /* width: 100%;
    max-width: 35rem; */
    justify-content: center;
}

.functionBtn{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
    border-radius: .5rem;
    padding: .5rem;
    transition: .2s;
    text-align: center;
    font-weight: 700;
}

.functionBtn:hover{
    cursor: pointer;
    background-color: gray;
}

#addTaskBtn{
    border: .15rem solid #99d98c;
    color: #99d98c;
}

#openLogsBtn{
    border: .15rem solid #219ebc;
    color: #219ebc;
}


#shortcutAddTask{
    padding: .25rem;
    font-size: .6rem;
    background-color: #1C1F1B;
    border-radius: .2rem;
}

#actions{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem;
}

.actionBtn{
    padding: .5rem;
    border-radius: .5rem;
    font-size: .8rem;
    height: 2rem;
    width: 2rem;
    border: none;
    color: white;
    transition: .2s;
} 

#playTasks{
    background-color: #99d98c;
}

#playTasks:hover{
    background-color: #67a35b;
    cursor: pointer;
}

#stopTasks{
    background-color: #844cdf;
}

#stopTasks:hover{
    background-color: #5d32a3;
    cursor: pointer;
}

#deleteTasks{
    background-color: #ef233c;
}

#deleteTasks:hover{
    background-color: #c0182c;
    cursor: pointer;
}

.tasksWrapper{
    display: flex;
    flex-direction: column;
    height: 46.25rem;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #363931;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-right: .5rem;
}

.tasksWrapper::-webkit-scrollbar{
height: 100%;
border-radius: .5rem;
width: .4rem;
background-color: gray;
}

.tasksWrapper::-webkit-scrollbar-thumb{
background-color: var(--main-color);
border-radius: .5rem;
}

.task{
    display: grid;
    grid-template-columns: 15rem auto 15rem 15rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: .1rem solid var(--main-color);
    border-radius: .5rem;
}

#taskFields{
    border-radius: 0;
    border: none;
    border-bottom: .2rem solid gray;
}

#taskFields span{
    font-size: .7rem;
    font-weight: 700;
    color: gray;
}

.taskProduct{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#productName{
    font-size: .9rem;
    font-weight: 700;
}

#productPrice{
    background-color: #1C1F1B;
    font-size: .8rem;
    font-weight: 700;
    padding: .3rem;
    border-radius: .5rem;
    color: var(--main-color);
}

.taskInfo{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10rem 10rem 10rem 12rem;
    font-size: .9rem;
}

#skuInput{
    background-color: transparent;
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: .5rem;
}

#skuInput::placeholder {
    text-align: center; 
    font-weight: 700;
 }

.taskStatus{
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    color: #99d98c;
}

.taskActions{
    display: flex;
    gap: .7rem;
    justify-content: center;
    align-items: center;
}

.insideTaskBtn{
    padding: 0;
    background-color: transparent;
    text-align: center;
}

.insideTaskBtn:hover{
    background-color: gray;
}

.taskActions #start{
    border: .1rem solid #99d98c;
    color: #99d98c;
}

.taskActions #stop{
    border: .1rem solid #844cdf;
    color: #844cdf;
}

.taskActions #clear{
    border: .1rem solid #219ebc;
    color: #219ebc;
}

.taskActions #edit{
    border: .1rem solid #ecd54f;
    color: #ecd54f;
}

.taskActions .delete{
    border: .1rem solid #ef233c;
    color: #ef233c;
}